h1 {
  text-align: center;
}

@font-face {
  font-family: monogram;
  src: url('./fonts/three-character-circle.ttf');
}

.monogram {
  font-family: monogram;
  font-size: 10em;
  position: absolute;
  top: -200px
}
.preview {
  width: 360px;
  margin: 40px auto;
  position: relative;
  /* top: 253px; */
  /* left: -241px; */
}

.checkbox {
  width: 260px;
  font-size: 2em;
  font-weight: bold;
  margin: 0 auto;
}

.switchery {
  position: relative;
  top: -6px !important;
}

.preview img, .preview canvas {
  display: block;
  margin: 0 auto;
}

.preview canvas {
  position: absolute;
  top: 22px;
}
